<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h2 style="margin: 0px">Routes</h2>
    </div>

    <div class="col-md pull-right" style="padding-right: 15px; padding-bottom: 10px;">
      <button class="btn btn-success" ng-click="addRoute()">Add a Route</button>
    </div>
  </div>


  <table class="table table-bordered">
    <thead>
      <tr>
        <td><a href="" ng-click="predicate = 'attributes.name'; reverse=!reverse">Name</a></td>
        <td><a href="" ng-click="predicate = 'attributes.color'; reverse=!reverse">Color</a></td>
        <td><a href="" ng-click="predicate = 'attributes.grade'; reverse=!reverse">Grade</a></td>
        <td><a href="" ng-click="predicate = 'attributes.comments'; reverse=!reverse">Setter's Comments</a></td>
        <td><a href="" ng-click="predicate = 'attributes.risk'; reverse=!reverse">Risk</a></td>
        <td><a href="" ng-click="predicate = 'attributes.intensity'; reverse=!reverse">Intensity</a></td>
        <td><a href="" ng-click="predicate = 'attributes.complexity'; reverse=!reverse">Complexity</a></td>
        <td><a href="" ng-click="predicate = 'attributes.status'; reverse=!reverse">Status</a></td>
        <td><a href="" ng-click="predicate = 'attributes.setter.attributes.username'; reverse=!reverse">Setter</a></td>
        <td>View</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="route in routes | orderBy:predicate:reverse | filter:search:strict">
        <td>{{route.attributes.name}}</td>
        <td ng-style="{'background-color': route.attributes.color}"></td>
        <td>{{route.attributes.grade}}</td>
        <td>{{route.attributes.setterComments}}</td>
        <td>{{route.attributes.risk}}</td>
        <td>{{route.attributes.intensity}}</td>
        <td>{{route.attributes.complexity}}</td>
        <td>
          <select class="form-control" ng-model="route.attributes.status" ng-change="saveRoute(route)" name="status">
            <option>Not Set</option>
            <option>Set</option>
            <option>For Ran</option>
            <option>Complete</option>
          </select>
        </td>
        <td>
          <select class="form-control" ng-model="route.attributes.setter" name="setter" ng-options="setter as setter.attributes.username for setter in setters" ng-change="saveRoute(route)">
            <option></option>
          </select>
        </td>
        <td><button class="btn btn-primary" ng-click="editRoute(route)">View</button></td>
      </tr>
    <tbody>
  </table>
</div>
