<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h2 style="margin: 0px">Routes</h2>
    </div>

    <div class="col-md pull-right" style="padding-right: 15px; padding-bottom: 10px;">
      <button class="btn btn-success" ng-click="addRoute()">Add a Route</button>
    </div>
  </div>


  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>Color</td>
        <td>Grade</td>
        <td>Comments</td>
        <td>Risk</td>
        <td>Intensity</td>
        <td>Commitment</td>
        <td>Status</td>
        <td>Setter</td>
        <td>View</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="route in routes">
        <td>{{route.attributes.name}}</td>
        <td ng-style="{'background-color': route.attributes.color}"></td>
        <td>{{route.attributes.grade}}</td>
        <td>{{route.attributes.setterComments}}</td>
        <td>{{route.attributes.risk}}</td>
        <td>{{route.attributes.intensity}}</td>
        <td>{{route.attributes.commitment}}</td>
        <td>{{route.attributes.status}}</td>
        <td>{{route.attributes.setter.attributes.username.toUpperCase()}}</td>
        <td><button class="btn btn-primary" ng-click="editRoute(route)">View</button></td>
        <td><button class="btn btn-danger" ng-click="deleteRoute(route)">Delete</button></td>
      </tr>
    <tbody>
  </table>
</div>
