<div class="modal-header">
  Search

</div>
<div class="modal-body">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>Name</td>
        <td>Color</td>
        <td>Difficulty</td>
        <td>Description</td>
        <td>ID</td>
        <td>Using Route</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="route in routes" ng-click="rowClicked(route)">
        <td>{{route.attributes.name}}</td>
        <td ng-style="{'background-color': route.attributes.color}"></td>
        <td>{{route.attributes.grade}}</td>
        <td>{{route.attributes.setterComments}}</td>
        <td>{{route.id}}</td>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="route.attributes.add">
            </label>
          </div>
        </td>
      </tr>
    <tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
