<div class="modal-header">
  Search

</div>
<div class="modal-body">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>Color</td>
        <td>Difficulty</td>
        <td>Description</td>
        <td>ID</td>
        <td>Add Route</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="route in routes">
        <td>{{route.attributes.name}}</td>
        <td ng-style="{'background-color': '#' + route.attributes.colorHex}"></td>
        <td>{{route.attributes.difficulty}}</td>
        <td>{{route.attributes.description}}</td>
        <td>{{route.id}}</td>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-change="addRoute(route)" ng-model="route.attributes.add">
            </label>
          </div>
        </td>
      </tr>
    <tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
