<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 style="margin-top: 0px">{{title}}</h3>
    </div>
  </div>

  <tabset justified="true" id="tabSet">
    <tab heading="Route Information" id="infoTab">

      <div class="row" style="margin-bottom: 5px">
        <div class="col-md-12">
          <h4 style="margin-top: 10px">Route Information</h4>
        </div>
      </div>

      <form name="routeForm">
        <div class="row">
          <div class="col-md-3" ng-class="{ 'has-error': routeForm.name.$invalid }">
            <label for="name">Name</label>
            <input ng-model="route.attributes.name" type="text" name="name" class="form-control" id="name" placeholder="Name" required/>
          </div>

          <div class="col-md-3">
            <label for="name">Setter</label>
            <select class="form-control" ng-model="route.attributes.setter" name="setter" ng-options="setter as setter.attributes.username for setter in setters">
              <option></option>
            </select>
          </div>

          <div class="col-md-2 form-group">
            <label for="grade">Grade</label>
            <select class="form-control" ng-model="route.attributes.grade" name="grade">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
            </select>
          </div>

          <div class="col-md-2 form-group">
            <label for="color">Color</label>
            <select class="form-control" ng-model="route.attributes.color" name="color" ng-style="{'background-color': route.attributes.color}">
              <option></option>
              <option>gray</option>
              <option>yellow</option>
              <option>green</option>
              <option>red</option>
              <option>blue</option>
              <option>purple</option>
              <option>black</option>
            </select>
          </div>

          <div class="col-md-2 form-group">
            <label for="satuts">Status</label>
            <select class="form-control" ng-model="route.attributes.status" name="status">
              <option>Not Set</option>
              <option>Set</option>
              <option>Free Ran</option>
              <option>Complete</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 form-group">
            <label for="risk">Risk</label>
            <select class="form-control" ng-model="route.attributes.risk" name="risk">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="col-md-2 form-group">
            <label for="intensity">Intensity</label>
            <select class="form-control" ng-model="route.attributes.intensity" name="intensity">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="col-md-2 form-group">
            <label for="commitment">Commitment</label>
            <select class="form-control" ng-model="route.attributes.commitment" name="commitment">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="col-md-6 form-group">
            <label for="setterComments">Setter's Comments</label>
            <textarea class="form-control" rows="2" ng-model="route.attributes.setterComments"></textarea>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <h4 style="margin-top: 10px">User's Comments</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" style="margin-left: 10px">
            <p>I Loved this Route, fun dyno's, I want more!</p>
            <p>The dyno on this Route was way too far, I'm only 5'3!!!</p>
          </div>
        </div>


      </form>
    </tab>
    <tab heading="Route Holds">
      <div class="row" style="margin-bottom: 5px">
        <div class="col-md-10">
          <h4 style="margin-top: 10px">Holds Used in Route</h4>
        </div>
        <div class="col-md-2 pull-right">
          <button class="btn btn-success" ng-click="createModal()">Add Holds</button>
        </div>
      </div>


      <table class="table table-bordered">
        <thead>
          <tr>
            <td>Picture</td>
            <td>Name</td>
            <td>Type</td>
            <td>Size</td>
            <td>Description</td>
            <td>Color</td>
            <td>ID</td>
            <td>Remove</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="hold in route.attributes.holds">
            <td><img ng-src="{{hold.attributes.holdPicture.url()}}" class="img-responsive" alt="Hold Image" id="holdPicture" style="width: 100px; height: 100px;"></td>
            <td>{{hold.attributes.name}}</td>
            <td>{{hold.attributes.type}}</td>
            <td>{{hold.attributes.size}}</td>
            <td>{{hold.attributes.description}}</td>
            <td>{{hold.attributes.colorName}}</td>
            <td>{{hold.id}}</td>
            <td><button class="btn btn-info" ng-click="removeHoldFromRoute(hold)">Remove</button></td>
          </tr>
        <tbody>
      </table>
    </tab>
  </tabset>




  <div class="page-header"></div>
  <div class="row">
    <div class="col-md-1 col-md-offset-11">
      <button class="btn btn-primary" ng-disabled="routeForm.$invalid" ng-click="saveRoute()">Save</button>
    </div>
  </div>
</div>
