<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 style="margin-top: 0px">{{title}}</h3>
    </div>
  </div>

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" ng-class="{'active':  tab == 'walls'}"><a ng-click="tabClicked('walls')">Walls</a></li>
    <li role="presentation" ng-class="{'active':  tab == 'routeDistro'}"><a ng-click="tabClicked('routeDistro')">Route Distribution</a></li>
    <li role="presentation" ng-class="{'active':  tab == 'holdDistro'}"><a ng-click="tabClicked('holdDistro')">Hold Distribution</a></li>


  <div ng-show="tab == 'walls'">
    <div class="row" style="margin-bottom: 5px; margin-top: 15px;">
      <div class="col-md-10">
        <h4 style="margin-top: 10px">Walls in Gym</h4>
      </div>
      <div class="col-md-2 pull-right">
        <button class="btn btn-success" ng-click="createModal()">Add Wall</button>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Name</td>
          <td>Routes</td>
          <td>Last Set</td>
          <td>View Wall</td>
          <td>Remove Wall</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="wall in gym.attributes.walls">
          <td>{{wall.attributes.name}}</td>
          <td>{{wall.attributes.routes.length}}</td>
          <td>{{wall.attributes.updatedAt}}</td>
          <td><button class="btn btn-primary" ng-click="viewWall(wall)">View</button></td>       <td><button class="btn btn-danger" ng-click="removeWallFromGym(wall)">Remove</button></td>
        </tr>
      <tbody>
    </table>


    <div class="page-header"></div>
    <div class="row">
      <div class="col-md-1 col-md-offset-11">
        <button class="btn btn-primary" ng-disabled="gymForm.$invalid" ng-click="saveGym()">Save</button>
      </div>
    </div>
  </div>

  <div ng-show="tab == 'routeDistro'">
    <div class="row">
      <div class="col-md-12">
        <div style="font-size: 18px" class="ct-chart ct-octave" id="routeDistribution"></div>
      </div>
    </div>
  </div>

  <div ng-show="tab == 'holdDistro'">
    <div class="row">
      <div class="col-md-12">
        <div style="font-size: 18px" class="ct-chart ct-octave" id="holdDistribution"></div>
      </div>
    </div>
  </div>

</div>
