<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="margin-top: 0px">Users</h2>
    </div>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>Name</td>
        <td># of Routes Set</td>
        <td>Color Most Set</td>
        <td>Grade Most Set</td>
        <td>Favorite Theme</td>
        <td>View</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.attributes.username}}</td>
        <td>{{user.attributes.routes.length}}</td>
        <td ng-style="{'background-color': user.attributes.mostColor}"></td>
        <td>{{user.attributes.mostGrade}}</td>
        <td>{{user.attributes.mostTheme}}</td>
        <td><button class="btn btn-primary" ng-click="viewUser(user)">View</button></td>
      </tr>
    <tbody>
  </table>
</div>
