<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 style="margin-top: 0px">{{title}}</h3>
    </div>
  </div>

  <tabset justified="true" id="tabSet">
    <tab heading="Route Information" id="infoTab">

      <div class="row" style="margin-bottom: 5px">
        <div class="col-md-12">
          <h4 style="margin-top: 10px">Route Information</h4>
        </div>
      </div>

      <form name="routeForm">
        <div class="row">
          <div class="col-xs-3">
            <label for="name">Name</label>
            <input ng-model="route.attributes.name" type="text" name="name" class="form-control" id="name" placeholder="Name"/>
          </div>

          <div class="col-xs-3">
            <label for="name">Setter</label>
            <select class="form-control" ng-model="route.attributes.setter" name="setter" ng-options="setter as setter.attributes.username for setter in setters">
              <option></option>
            </select>
          </div>

          <div class="col-xs-2 form-group">
            <label for="grade">Grade</label>
            <select class="form-control" ng-model="route.attributes.grade" name="grade">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div>

          <div class="col-xs-2 form-group">
            <label for="color">Color</label>
            <select class="form-control" ng-model="route.attributes.color" name="color" ng-style="{'background-color': route.attributes.color}">
              <option></option>
              <option>gray</option>
              <option>yellow</option>
              <option>green</option>
              <option>red</option>
              <option>blue</option>
              <option>orange</option>
              <option>purple</option>
              <option>black</option>
            </select>
          </div>

          <div class="col-xs-2 form-group">
            <label for="satuts">Status</label>
            <br>
            <button type="button" class="btn btn-default" ng-click="changeStatus(route)">
              <img width="35" src="" id="statusImage"></img>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3 form-group">
            <label for="wall">Wall</label>
            <select class="form-control" ng-model="route.attributes.wall" name="wall" ng-options="wall as wall.attributes.name for wall in walls">
              <option></option>
            </select>
          </div>

          <div class="col-xs-6 form-group">
            <label for="setterComments">Setter's Comments</label>
            <textarea class="form-control" rows="2" ng-model="route.attributes.setterComments"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2">
            <label for="crimps">Crimps</label>
            <select class="form-control" ng-model="route.attributes.crimps" name="crimps">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </div>

          <div class="col-xs-2">
            <label for="jugs">Jugs</label>
            <select class="form-control" ng-model="route.attributes.jugs" name="jugs">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </div>

          <div class="col-xs-2">
            <label for="pinches">Pinches</label>
            <select class="form-control" ng-model="route.attributes.pinches" name="pinches">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </div>

          <div class="col-xs-2">
            <label for="slopers">Slopers</label>
            <select class="form-control" ng-model="route.attributes.slopers" name="slopers">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </div>

          <div class="col-xs-2">
            <label for="edges">Edges</label>
            <select class="form-control" ng-model="route.attributes.edges" name="edges">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </div>

          <div class="col-xs-2">
            <label for="edges">Volumes</label>
            <select class="form-control" ng-model="route.attributes.volumes" name="edges">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3">
            <label for="totalHolds">Total Holds</label>
            <input ng-model="route.attributes.totalHolds" type="text" name="totalHolds" class="form-control" id="totalHolds" placeholder="Total Holds"/>
          </div>

          <div class="col-xs-3">
            <label for="edges">Theme</label>
            <select class="form-control" ng-model="route.attributes.theme" name="edges">
              <option>dyno</option>
              <option>slab</option>
              <option>crimpy</option>
              <option>unicorn</option>
              <option>tictacky</option>
              <option>starfish</option>
            </select>
          </div>

          <div class="col-xs-2 form-group">
            <label for="risk">Risk</label>
            <select class="form-control" ng-model="route.attributes.risk" name="risk">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="col-xs-2 form-group">
            <label for="intensity">Intensity</label>
            <select class="form-control" ng-model="route.attributes.intensity" name="intensity">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="col-xs-2 form-group">
            <label for="complexity">Complexity</label>
            <select class="form-control" ng-model="route.attributes.complexity" name="complexity">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-xs-12">
            <h4 style="margin-top: 10px">User's Comments</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12" style="margin-left: 10px">
            <p>I Loved this Route, fun dyno, I want more!</p>
            <p>The dyno on this Route was way too far, I'm only 5'3!!!</p>
            <p>Some Other Examlpe Feedback!</p>
          </div>
        </div>


      </form>
    </tab>
    <tab heading="Route Holds">
      <div class="row" style="margin-bottom: 5px">
        <div class="col-md-10">
          <h4 style="margin-top: 10px">Holds Used in Route</h4>
        </div>
        <div class="col-md-2 pull-right">
          <button class="btn btn-success" ng-click="createModal()">Add Holds</button>
        </div>
      </div>


      <table class="table table-bordered">
        <thead>
          <tr>
            <td>Picture</td>
            <td>Color</td>
            <td>Name</td>
            <td>Type</td>
            <td>Size</td>
            <td>Description</td>
            <td>ID</td>
            <td>Remove</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="hold in route.attributes.holds">
            <td><img ng-src="{{hold.attributes.holdPicture.url()}}" class="img-responsive" alt="Hold Image" id="holdPicture" style="width: 100px; height: 100px;"></td>
            <td ng-style="{'background-color':  hold.attributes.color}"></td>
            <td>{{hold.attributes.name}}</td>
            <td>{{hold.attributes.type}}</td>
            <td>{{hold.attributes.size}}</td>
            <td>{{hold.attributes.description}}</td>
            <td>{{hold.id}}</td>
            <td><button class="btn btn-info" ng-click="removeHoldFromRoute(hold)">Remove</button></td>
          </tr>
        <tbody>
      </table>
    </tab>
  </tabset>


  <div class="page-header"></div>
  <div class="row">
    <div class="col-xs-1 col-xs-offset-8">
      <button class="btn btn-danger"  ng-click="deleteRoute()">Delete</button>
    </div>
    <div class="col-xs-1 col-xs-offset-1">
      <button class="btn btn-primary" ng-disabled="routeForm.$invalid" ng-click="saveRoute()">Save</button>

    </div>
  </div>
</div>
