<div class="modal-header">
  <div class="row">
    <div class="col-xs-2">
      <input type="number" ng-model="routesToGenerate" class="form-control">
    </div>
    <div class="col-xs-2">
      <button class="btn btn-success" ng-click="autoGenRoutes()">Auto Generate</button>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-success" ng-click="genSameRoutes()">Same Routes</button>
    </div>
    <div class="col-xs-2 col-xs-offset-2">
      <button class="btn btn-success" ng-click="addRoute()">Add Route</button>
    </div>
  </div>
</div>

<div class="modal-body">
  <div id="tableModalContainer" style="overflow-y: scroll">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td><a href="" ng-click="predicate = 'attributes.color'; reverse=!reverse">Color</a></td>
          <td><a href="" ng-click="predicate = 'attributes.order'; secondary = 'grade'; reverse=!reverse">Grade</a></td>
          <td><a href="" ng-click="predicate = 'attributes.status'; secondary = 'attributes.order'; reverse=!reverse">Status</a></td>
          <td><a href="" ng-click="predicate = 'attributes.setter.attributes.username'; secondary = 'attributes.order'; reverse=!reverse">Setter</a></td>
          <td>Remove Route</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="route in routesToAdd | orderBy:[predicate, secondary]:reverse | filter:search:strict">
          <td ng-style="{'background-color': route.attributes.color}">
            <select class="form-control" ng-model="route.attributes.color" name="color" ng-style="{'background-color': route.attributes.color}">
              <option>gray</option>
              <option>yellow</option>
              <option>green</option>
              <option>red</option>
              <option>blue</option>
              <option>orange</option>
              <option>purple</option>
              <option>black</option>
            </select>
          </td>
          <td>
            <select class="form-control" ng-model="route.attributes.grade" ng-change="saveRoute(route)" name="status">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </td>
          <td ng-class="{status0: route.attributes.status == '1', status1: route.attributes.status == '2', status2: route.attributes.status == '3', status3: route.attributes.status == '4', status4: route.attributes.status == '5', status5: route.attributes.status == '6', status6: route.attributes.status == '6' }" align="center">
            <button type="button" class="btn btn-default" ng-click="changeStatus(route)">
              <img width="35" src="/images/line0.svg" id="{{route.cid}}"/>
            </button>
          </td>
          <td>
            <select class="form-control" ng-model="route.attributes.setter" name="setter" ng-options="setter as setter.attributes.username for setter in setters" ng-change="saveRoute(route)">
              <option></option>
            </select>
          </td>
          <td><button class="btn btn-danger" ng-click="removeRoute(route)">Remove</button></td>
        </tr>
      <tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
