<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 style="margin-top: 0px">{{title}}</h3>
    </div>
  </div>

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" ng-class="{'active':  tab == 'routes'}"><a ng-click="tabClicked('routes')">Routes on Wall</a></li>
    <li role="presentation" ng-class="{'active':  tab == 'routeDistribution'}"><a ng-click="tabClicked('routeDistribution')">Route Distribution</a></li>
    <li role="presentation" ng-class="{'active':  tab == 'holdDistribution'}"><a ng-click="tabClicked('holdDistribution')">Hold Distribution</a></li>
    <li role="presentation" ng-class="{'active':  tab == 'wallInfo'}"><a ng-click="tabClicked('wallInfo')">Wall Information</a></li>
  </ul>

  <div ng-show="tab == 'routes'">
    <div class="row" style="margin-bottom: 5px; margin-top: 15px;">
      <div class="col-xs-3">
        <h4 style="margin-top: 10px">Routes on Wall</h4>
      </div>

      <div class="col-xs-4">
        <form class="form-inline">
          <div class="form-group">
            <label for="exampleInputName2">Set On</label>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" close-text="Close" ng-change="searchRoutes()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </form>
      </div>

      <div class="col-xs-3">
        <button class="btn btn-danger" ng-click="takeDownRoutes()">Take Down Routes</button>
      </div>
      <div class="col-xs-2 pull-right">
        <button class="btn btn-success" ng-click="createModal()">Add Routes</button>
      </div>
    </div>
    <div ng-include="'/components/routesTable/routesTable.html'"></div>
  </div>

  <div ng-show="tab == 'routeDistribution'">
    <div class="row">
      <div class="col-md-12">
        <div style="font-size: 18px" class="ct-chart ct-octave" id="routeDistribution"></div>
      </div>
    </div>
  </div>

  <div ng-show="tab == 'holdDistribution'">
    <div class="row">
      <div class="col-md-12">
        <div style="font-size: 18px" class="ct-chart ct-octave" id="holdDistribution"></div>
      </div>
    </div>
  </div>

  <div ng-show="tab == 'wallInfo'">
    <br>
    <form name="wallForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="name">Wall Name</label>
            <input type="text" class="form-control" id="name" placeholder="Wall Name" ng-model="wall.attributes.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="exampleInputFile">Route Map Picture</label>
            <input type="file" id="routeMapInput" ng-model="wall.attributes.currentPicture">
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
