<div class="modal-header">
  Search

</div>
<div class="modal-body">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>Name</td>
        <td>Routes</td>
        <td>Description</td>
        <td>Wall Added</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="wall in walls" ng-click="rowClicked(wall)">
        <td>{{wall.attributes.name}}</td>
        <td>{{wall.attributes.routes.length}}</td>
        <td>{{wall.attributes.description}}</td>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="wall.attributes.add">
            </label>
          </div>
        </td>
      </tr>
    <tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
