<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 style="margin: 0px">Walls</h2>
    </div>

    <div class="col-md pull-right" style="padding-right: 15px; padding-bottom: 10px;">
      <button class="btn btn-success" ng-click="addWall()">Add a Wall</button>
    </div>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>Name</td>
        <td># of Routes</td>
        <td>View</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="wall in walls">
        <td>{{wall.attributes.name}}</td>
        <td>{{wall.attributes.routes.length}}</td>
        <td><button class="btn btn-primary" ng-click="viewWall(wall)">View</button></td>
      </tr>
    <tbody>
  </table>
</div>
