<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 style="margin-top: 0px">{{title}}</h3>
    </div>
  </div>

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" ng-class="{'active':  tab == 'routes'}"><a ng-click="tabClicked('routes')">Routes on Wall</a></li>
    <li role="presentation" ng-class="{'active':  tab == 'routeDistribution'}"><a ng-click="tabClicked('routeDistribution')">Route Distribution</a></li>
    <li role="presentation" ng-class="{'active':  tab == 'holdDistribution'}"><a ng-click="tabClicked('holdDistribution')">Hold Distribution</a></li>
    <li role="presentation" ng-class="{'active':  tab == 'wallInfo'}"><a ng-click="tabClicked('wallInfo')">Wall Information</a></li>
  </ul>

  <div ng-show="tab == 'routes'">
    <div class="row" style="margin-bottom: 5px; margin-top: 15px;">
      <div class="col-md-4">
        <h4 style="margin-top: 10px">Routes on Wall</h4>
      </div>

      <div class="col-md-5">
        <form class="form-inline">
          <div class="form-group">
            <label for="exampleInputName2">Set On</label>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" close-text="Close" ng-change="searchRoutes()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </form>
      </div>

<!--
      <div class="col-md-2 pull-right">
        <button class="btn btn-success" ng-click="createModal()">Add Routes</button>
      </div>
    </div>
-->

    <table class="table table-bordered" style="overflow: scroll">
      <thead>
        <tr>
          <td><a href="" ng-click="predicate = 'attributes.order'; reverse=!reverse">Color</a></td>
          <td><a href="" ng-click="predicate = 'attributes.order'; secondary = 'grade'; reverse=!reverse">Grade</a></td>
          <td><a href="" ng-click="predicate = 'attributes.status'; secondary = 'attributes.order'; reverse=!reverse">Status</a></td>
          <td><a href="" ng-click="predicate = 'attributes.setter.attributes.username'; secondary = 'attributes.order'; reverse=!reverse">Setter</a></td>
          <td>View</td>
          <td>Delete</td>
        </tr>
      </thead>
      <tbody id="routesTable">
        <tr ng-repeat="route in wall.attributes.routes | orderBy:[predicate, secondary]:reverse | filter:search:strict">
          <td ng-style="{'background-color': route.attributes.color}"></td>
          <td>
            <select class="form-control" ng-model="route.attributes.grade" ng-change="saveRoute(route)" name="status">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </td>
          <td ng-class="{status0: route.attributes.status == '1', status1: route.attributes.status == '2', status2: route.attributes.status == '3', status3: route.attributes.status == '4', status4: route.attributes.status == '5', status5: route.attributes.status == '6', status6: route.attributes.status == '6' }" align="center">
            <button type="button" class="btn btn-default" ng-click="changeStatus(route)">
              <img width="35" src="" id="{{route.id}}"/>
            </button>
          </td>
          <td>
            <select class="form-control" ng-model="route.attributes.setter" name="setter" ng-options="setter as setter.attributes.username for setter in setters" ng-change="saveRoute(route)">
              <option></option>
            </select>
          </td>
          <td><button class="btn btn-primary" ng-click="viewRoute(route)">View</button></td>
          <td><button class="btn btn-danger" ng-click="deleteRoute(route)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>


    <!--
    <div class="row">
      <div class="col-md-1 col-md-offset-11">
        <button class="btn btn-primary" ng-disabled="wallForm.$invalid" ng-click="saveWall()">Save</button>
      </div>
    </div>
  </div>

    -->
  <div ng-show="tab == 'routeDistribution'">
    <div class="row">
      <div class="col-md-12">
        <div style="font-size: 18px" class="ct-chart ct-octave" id="routeDistribution"></div>
      </div>
    </div>
  </div>

  <div ng-show="tab == 'holdDistribution'">
    <div class="row">
      <div class="col-md-12">
        <div style="font-size: 18px" class="ct-chart ct-octave" id="holdDistribution"></div>
      </div>
    </div>
  </div>

  <div ng-show="tab == 'wallInfo'">
    <br>
    <form name="wallForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="name">Wall Name</label>
            <input type="text" class="form-control" id="name" placeholder="Wall Name" ng-model="wall.attributes.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="exampleInputFile">Route Map Picture</label>
            <input type="file" id="routeMapInput" ng-model="wall.attributes.currentPicture">
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
