#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 980;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}​


ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin: 0;
}
.ct-label {
    font-size: 1.4rem !important;
}

.grayBar {
    stroke: gray;
    fill: gray;

}

.notSet {
    background-color: #e74c3c;
}

.set {
    background-color: #3498db;
}

.forRun {
    background-color: #f1c40f;
}

.complete {
    background-color: #2ecc71;
}
