#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 980;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}​


ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin: 0;
}
.ct-label {
    font-size: 1.4rem !important;
}

.grayBar {
    stroke: gray;
    fill: gray;

}

.status0 {
    background-color: rgba(192, 57, 23, 1)
}

.status1 {
    background-color: rgba(230, 126, 34,1.0)
}

.status2 {
    background-color: rgba(241, 196, 15,1.0)
}

.status3 {
    background-color: rgba(46, 204, 113,1.0)
}

.status4 {
    background-color: rgba(52, 152, 219,1.0)
}

.status5 {
    background-color: rgba(155, 89, 182,1.0)
}


#idealDistribution {
    opacity: 0.5;
    position: absolute;
}


#backgroundPic {
    background-image: url("/images/sbp_logo.svg");
    background-repeat: no-repeat;
    background-position: 50%, 60%;
    opacity: 0.2;
    Background-size: 80%;

}
