<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 style="margin: 0px">Holds</h2>
    </div>
    <div class="col-md pull-right" style="padding-right: 15px; padding-bottom: 10px;">
      <button class="btn btn-success" ng-click="addHold()">Add a Hold</button>
    </div>
  </div>


  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Picture</td>
        <td><a href="" ng-click="predicate = 'attributes.color'; reverse=!reverse">Color</a></td>
        <td><a href="" ng-click="predicate = 'attributes.name'; reverse=!reverse">Name</a></td>
        <td><a href="" ng-click="predicate = 'attributes.type'; reverse=!reverse">Type</a></td>
        <td><a href="" ng-click="predicate = 'attributes.size'; reverse=!reverse">Size</a></td>
        <td><a href="" ng-click="predicate = 'attributes.description'; reverse=!reverse">Description</a></td>
        <td><a href="" ng-click="predicate = id; reverse=!reverse">ID</a></td>
        <td>View</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="hold in holds | orderBy:predicate:reverse">
        <td><img ng-src="{{hold.attributes.holdPicture.url()}}" class="img-responsive" alt="Hold Image" id="holdPicture" style="width: 100px; height: 100px;"></td>
        <td ng-style="{'background-color': hold.attributes.color}"></td>
        <td>{{hold.attributes.name}}</td>
        <td>{{hold.attributes.type}}</td>
        <td>{{hold.attributes.size}}</td>
        <td>{{hold.attributes.description}}</td>
        <td>{{hold.id}}</td>
        <td><button class="btn btn-primary" ng-click="viewHold(hold)">View</button></td>
        <td><button class="btn btn-danger" ng-click="deleteHold(hold)">Delete</button></td>
      </tr>
    <tbody>
  </table>
</div>
